<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>{{event.title}}</h1>
        </div>

        <div class="panel-body"> {{event.description}}</div>

        <table class="table">
            <tr>
                <th>Start</th>
                <th>End</th>

            </tr>
            <tr>
                <td>{{event.startDateTime}}</td>
                <td>{{event.endDateTime}}</td>
            </tr>
        </table>
    </div>

    <a class="button" href="#/app/events">Back to the list of events </a>
</div>