<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <h1>PG5100 Exam Project</h1>

        <h2>Learning portal</h2>

        <p>Technology stack used in this project is Java EE7 (EJB, CDI, EJB, JSF, JAX-RS etc). One implementation uses
            Java Server Faces frontend, another one is a simple Angular SPA which connects to REST services backed by
            the same EJBs. </p>

        <p><a class="btn btn-primary btn-lg" href="index.xhtml" role="button"> JSF version »</a></p>
        <p><a class="btn btn-primary btn-lg" href="#/app/events" role="button"> Angular version »</a></p>

        <h6><a href="http://github.com/cheerypick">by Ekaterina Orlova</a></h6>
    </div>
</div>

</div>
</div>
</body>
</html>